{# imdb_clone/views/people/show.html.twig #}
{% extends 'Layouts/base.html.twig' %}

{% block title %}{{ person.name }} Details{% endblock %}

{% block content %}
    <h1>Person: {{ person.name }}</h1>

    {% if person.birth_year %}
        <p><strong>Birth Year:</strong> {{ person.birth_year }}</p>
    {% else %}
        <p>Birth year not available.</p>
    {% endif %}

    {# Edit Button #}
    <p><a href="{{ BASE }}/people/edit?id={{ person.id }}" class="button">Edit Person</a></p>

    {# Delete Button #}
    <form action="{{ BASE }}/people/delete" method="POST" style="display:inline; margin-left: 10px;">
        <input type="hidden" name="id" value="{{ person.id }}">
        <button type="submit" onclick="return confirm('Are you sure you want to delete &quot;{{ person.name }}&quot;? This cannot be undone.');" class="button button-danger">Delete Person</button>
    </form>

    <p><a href="{{ BASE }}/people">Back to People List</a></p>
{% endblock %}